doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    - if (env === 'prod')
      link(rel='stylesheet', href='/main/style.css')
    - if (env === 'dev')
      script(src='/reload/reload.js')
    script(src='/main/bundle.js')
    script(src='/page/bundle.js')
  body
    block content
